.login_main__container {
    width: 80%;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;

    .img__section_contact {
        img {
            width: 560px;
            margin-top: 20px;
        }
    }
}

.login_from_section {
    width: 50%;
    margin-top: 20px;
}

.login_form__container {
    h2{
    color: #03337B;
    font-family: "Work Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    text-transform: uppercase;
    }

    .red_box{
        width: 65%;
        border: 4px solid red;
        border-radius: 4px;
        margin-top: 10px;
    }

    form{
        margin-top: 30px;

        input{
            margin-bottom: 23px;
        }
    }

    input {
        display: inline-block;
        font-size: 15px;
        width: 400px;
        border-top: 1px solid whitesmoke;
        border: none;
        height: 2rem;
        outline: none;
    }

    input[type="submit"]{
        width: 100px;
        background-color: black;
        color: white;
        display: block;
        cursor: pointer;
        border-radius: 4px;
    }

    .forgot-pass {
        float: right;
        button{
            border: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .login_main__container {
        width: 100%;
        margin-left: 0;
    }

    .img__section_contact img {
        display: none;
    }

    .login_from_section{
        width: 100%;
    }
}
